---
import Layout from "../layout.astro";
import Button from "@/components/ui/Button.astro";
import TagButton from "@/components/blog/ui/TagButton.astro";
import { Image } from "astro:assets";

const { frontmatter } = Astro.props;

function formattedDate(dateString: string) {
    const date = new Date(dateString);
    return date.toLocaleDateString('pt-BR')
}
---

<Layout pageTitle={frontmatter.title}>
    <article class="min-h-svh w-full max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12 sm:py-16 lg:py-24">

        <div class="mb-8 sm:mb-12">
            <Button href="/blog" variant="outline" class="group">
                <svg class="group-hover:-translate-x-1 transition" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><g fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path stroke-dasharray="20" d="M21 12h-17.5"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="20;0"/></path><path stroke-dasharray="12" stroke-dashoffset="12" d="M3 12l7 7M3 12l7 -7"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.3s" dur="0.2s" to="0"/></path></g>
                </svg>
                Voltar
            </Button>
        </div>

        <div class="flex flex-col gap-3">
            <h1 class="text-3xl sm:text-4xl lg:text-5xl font-extrabold tracking-tight leading-tight">
                {frontmatter.title}
            </h1>
            <p class="text-sm sm:text-base md:text-lg font-mono leading-relaxed text-muted-foreground">
                // {frontmatter.description}
            </p>
        </div>

        {frontmatter.tags?.length > 0 && (
            <div class="flex flex-wrap gap-2 my-4">
                {frontmatter.tags.map((tag: string) => (
                    <TagButton tag={tag} />
                ))}
            </div>
        )}

        <div class="flex flex-col md:flex-row md:gap-2 text-xs sm:text-sm md:text-base text-muted-foreground mb-8 pb-8 border-b border-border">
            <div class="w-full md:w-1/2 flex flex-col gap-2 mb-2">
                <span class="flex flex-row gap-1 justify-start items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/>
                    </svg>
                    <span>Por 
                        <a href="/#sobre-mim" class="text-primary hover:underline transition">
                            {frontmatter.author}
                        </a>
                    </span>
                </span>
                <span class="flex flex-row gap-1 justify-start items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2m4.2 14.2L11 13V7h1.5v5.2l4.5 2.7z"/>
                    </svg>
                    Tempo de leitura: {frontmatter.readingTime} min
                </span>
            </div>
            <div class="w-full md:w-1/2 flex flex-col gap-2 md:items-end">
                <span class="flex flex-row gap-1 justify-start items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M19 19H5V8h14m-3-7v2H8V1H6v2H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-1V1m-1 11h-5v5h5z"/>
                    </svg>
                    Publicado em <time datetime={frontmatter.publishedOn}>{formattedDate(frontmatter.publishedOn)}</time>
                </span>
                {frontmatter.updatedOn && (
                    <span class="flex flex-row gap-1 justify-start items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 11A8.1 8.1 0 0 0 4.5 9M4 5v4h4m-4 4a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"/>
                        </svg>
                       Atualizado em <time datetime={frontmatter.updatedOn}>{formattedDate(frontmatter.updatedOn)}</time>
                    </span>
                )}
            </div>
        </div>

        {frontmatter.image?.url && (
            <div class="w-full h-50 md:h-100 mb-10 rounded-2xl overflow-hidden border border-border">
                <Image
                    src={"/" + frontmatter.image.url}
                    alt={frontmatter.image.alt ?? frontmatter.title}
                    width={100}
                    height={100}
                    class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
                />
            </div>
        )}

        <div class="prose dark:prose-invert max-w-none text-primary text-base sm:text-lg leading-relaxed">
            <slot />
        </div>

        <div class="flex justify-center mt-14 pt-8 border-t border-border">
            <Button href="/blog" variant="outline" class="group">
                <svg class="group-hover:-translate-x-1 transition" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><g fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path stroke-dasharray="20" d="M21 12h-17.5"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="20;0"/></path><path stroke-dasharray="12" stroke-dashoffset="12" d="M3 12l7 7M3 12l7 -7"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.3s" dur="0.2s" to="0"/></path></g>
                </svg>
                Voltar
            </Button>
        </div>

    </article>
</Layout>
