---
import Card from "../ui/Card.astro";
import StackData from "../../data/stack.ts";
import { Icon } from "astro-iconify";
import SectionHeader from "../ui/SectionHeader.astro";
---

<section id="stack" class="max-w-7xl min-h-svh flex flex-col gap-6 sm:gap-8 md:gap-10 justify-center items-center w-full py-8 sm:py-12 md:py-16 lg:py-20 mb-10 sm:mb-16 md:mb-20">
	<SectionHeader
		budgeText="Stack"
		title="Meu Universo Tech"
		description="Navegando pelo espaço digital com uma constelação robusta de tecnologias, frameworks e ferramentas projetadas para escalabilidade e performance."
	/>
	<div class="flex flex-col gap-8 sm:gap-10 md:gap-12 justify-center items-center w-full">
		<div class="w-full">
			<div class="flex flex-col justify-start items-start gap-3 sm:gap-4 mb-6 sm:mb-8">
				<div class="flex flex-row gap-4 items-center">
					<h2 class="text-xl lg:text-2xl xl:text-3xl font-extrabold">
						Engenharia Frontend
					</h2>
					<span class="w-20 sm:w-30 lg:w-50 h-0.5 bg-linear-to-r from-chart-1 to-chart-2/5"></span>
				</div>
				<p class="text-sm sm:text-base text-muted-foreground text-left max-w-2xl font-mono">
					// Construindo interfaces de usuário imersivas, responsivas e performáticas com bibliotecas e frameworks de ponta.
				</p>
			</div>
			<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">
				{StackData.frontend.map((tech) => (
					<Card 
						size="sm" 
						hover={false} 
						class="flex flex-col gap-2 sm:gap-3 justify-center items-center backdrop-blur-sm border-border hover:bg-border/5 hover:shadow-[0_0_20px_-5px_var(--color-chart-1)] hover:-translate-y-1.5 cursor-default min-h-30 group will-change-transform"
					>
						<div class="w-10 h-10 sm:w-12 sm:h-12 flex items-center justify-center">
							<Icon name={tech.icon} width="44" height="44" />
						</div>
						<span class="text-[10px] sm:text-base font-mono text-muted-foreground group-hover:text-primary text-center transition-colors duration-500 ease-in-out antialiased select-none">
							{tech.name}
						</span>
					</Card>
				))}
			</div>
		</div>
		<div class="w-full">
			<div class="flex flex-col justify-start items-start gap-3 sm:gap-4 mb-6 sm:mb-8">
				<div class="flex flex-row gap-4 items-center">
					<h2 class="text-xl lg:text-2xl xl:text-3xl font-extrabold">
						Backend e Arquitetura
					</h2>
					<span class="w-20 sm:w-30 lg:w-50 h-0.5 bg-linear-to-r from-chart-1 to-chart-2/5"></span>
				</div>
				<p class="text-sm sm:text-base text-muted-foreground text-left max-w-2xl font-mono">
					// Soluções robustas no lado do servidor, gerenciamento de bancos de dados e infraestrutura escalável.
				</p>
			</div>
			<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">
				{StackData.backend.map((tech) => (
					<Card 
						size="sm" 
						hover={false} 
						class="flex flex-col gap-2 sm:gap-3 justify-center items-center backdrop-blur-sm border-border hover:bg-border/5 hover:shadow-[0_0_20px_-5px_var(--color-chart-1)] hover:-translate-y-1.5 cursor-default min-h-30 group will-change-transform"
					>
						<div class="w-10 h-10 sm:w-12 sm:h-12 flex items-center justify-center">
							<Icon name={tech.icon} width="44" height="44" />
						</div>
						<span class="text-[10px] sm:text-base font-mono text-muted-foreground group-hover:text-primary text-center transition-colors duration-500 ease-in-out antialiased select-none">
							{tech.name}
						</span>
					</Card>
				))}
			</div>
		</div>
	</div>
</section>
